/*====================================
	Main Style
===================================*/


html,
body,
#container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    height: 100%;
    width: 100%;
}

#map-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#map {
    width: 100%;
    height: 100%;
}


.no-padding {

   padding-left: 5px;
   margin: 0 !important;

}



/*====================================
	Menu
===================================*/


/*.navbar-inverse {
    background-color: #333;
}
*/
.navbar{
	z-index: 999;
    border-radius: 0;
}


.navbar-header h3 { 
	padding-left: 30px; 
 	color: #ffffff;
 	margin-top: 0;
 	margin-bottom: 0;
    background-color: transparent;
}

.navbar-header span { 
	padding-left: 30px; 
 	color: #ffffff;
 	font-size: 14px; 
    background-color: transparent;
}

/*====================================
	Cards
===================================*/

.city_widget {
	width: 100%;
    height: 200px;
    background-color: #3498DB;
}


.city_widget h1.white-text{
   color: #fff;
}

.city_widget h1.bolded {
    font-weight: 600;
    font-size: 70px;
}


.icon {
    width: 100%;
    margin-left: 5px;
    margin-right: auto;
    padding-top:10px;
    color: #ffffff;
    font-size: 60px;
    line-height: 1em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}


.number_icon {
    width: 100%;
    margin-left: 5px;
    margin-right: auto;
    color: #ffffff;
    line-height: 1em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}


.wi {
    display: inline-block;
    font-family: 'weathericons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.color-palette-blue{
    background-color: #3498db;

}
.color-palette-orange{
    background-color: #d35400;
    
}
.color-palette-grey{
    background-color: #95a5a6;
    
}
